[submodule "content/themes/casper"]
  path = content/themes/casper
  url = git://github.com/eduardojmatos/Casper.git
[submodule "content/themes/albireo"]
  path = content/themes/albireo
  url = git://github.com/santonocito/albireo.git
