[submodule "content/themes/casper"]
  path = content/themes/casper
  url = git://github.com/eduardojmatos/Casper.git
  repository = git@github.com:eduardojmatos/casper.git
[submodule "content/themes/albireo"]
  path = content/themes/albireo
  url = git://github.com/santonocito/albireo.git
  repository = git@github.com:santonocito/albireo.git
