<<<<<<< HEAD
<nav class="pagination" role="navigation">
=======
<nav class="pagination" role="pagination">
>>>>>>> Initial commit
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}">&larr; Newer Posts</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">Older Posts &rarr;</a>
    {{/if}}
</nav>